<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/al3resh_20180107/al3resh.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://dispatchua.com/Images/p.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://dispatchua.com/Images/p.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.al3reshh.Show</string>
				<key>bundle-version</key>
				<string> 1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>al3resh</string>
				<key>title</key>
				<string>al3res 
welcome to al3resh  
نظام iOS 10,11
فاهم الماس 
حساب سناب شات 
:al3reshShow
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>